<div class="topGap"></div>
<div class="" fxLayout="row" fxLayout.xs="column" fxLayoutwrap>
  <div fxFlex="20">
    <!-- for stepper -->
  </div>
  <div fxFlex="80">
    <h4 class="head1">Bussiness Info</h4>
    <h3 class="head2 mt-4">Where do you sell your goods or provide services? ​</h3>

    <div class="mt-4">
      <button class="btn btn-md buttonselct ml-0">My Shop</button>
      <button class="btn btn-md buttonselct">Visiting Customers</button>
      <button class="btn btn-md buttonselct">Online</button>
      <img src="assets/Image.png" class="img2" alt="">
      <div class="text-center col-md-6">
        <!-- <img src="assets/1536475.svg" alt=""> -->
      </div>
    </div>
    <div class="col-md-7 top-50 text-center buttonNext">
      <button class=" btn btn-md nextBtn" routerLink='/fifth-page'>Next</button>
    </div>
  </div>

</div>
