<div class="topGap"></div>
<div class="" fxLayout="row" fxLayout.xs="column" fxLayoutwrap>
  <div fxFlex="20">
    <!-- for stepper -->
  </div>
  <div fxFlex="80" class="contentMain">
    <h4 class="head1">Covers ​</h4>

    <div class="mat-tabsEssentials">
      <mat-tab-group>
        <!-- first tab -->
        <mat-tab label="Essential">
          <div class="mt-4">
            <div class="mainheadLeft">
              <p class="mb-0 pl-2"> Structure Insurance </p>
            </div>
            <div class="mt-4 d-flex d-xsm-block">
              <input type="text" class="form-control form-control-sm CoversInputs" placeholder="Pincode">
              <input type="text" class="form-control form-control-sm ml-4 CoversInputs" placeholder="Sum Insured">
            </div>
            <div class="mainheadLeft mt-4">
              <p class="mb-0 pl-2"> Content Insurance </p>
            </div>
            <div class="mt-4">
              <button class="btnbulgary">Fire</button>
              <button class="btnbulgarylight ml-3">Burglary</button>
            </div>
            <div class="cardsSmall d-flex mt-3">
              <div class="d-flex">
                <input type="text" class="formInputsCustom" placeholder="Stock In Trade">

                <input type="text" class="formInputsCustom" placeholder="Furniture & Fixtures">
              </div>
            </div>
            <div class="cardsSmall d-flex">
              <div class="d-flex">
                <input type="text" class="formInputsCustom" placeholder="Goods held in trust">

                <input type="text" class="formInputsCustom" placeholder="All other contents">
              </div>
            </div>
            <div class="cardsSmall d-flex">
              <div>
                <input type="text" class="formInputsCustom" placeholder="Total Sum Insured">
              </div>
            </div>

            <div class="mainheadLeft mt-3">
              <p class="mb-0 pl-2"> Workmen Compensation </p>
            </div>
            <div class="cardsSmall d-flex mt-3">
              <div class="d-flex">
                <input type="text" class="formInputsCustom" placeholder="Number of Employees">

                <input type="text" class="formInputsCustom" placeholder="Nature of Work">
              </div>
            </div>
            <div class="">
              <input class="selectEmpBtn" type="number">
            </div>
            <div class="cardsSmall d-flex mt-3">
              <div class="d-flex">
                <input type="text" class="formInputsCustom" placeholder="Annual Earnings">

                <input type="text" class="formInputsCustom" placeholder="Wage Type">
              </div>
            </div>

            <div class="mainheadLeft mt-3">
              <p class="mb-0 pl-2"> Fidelity Insurance </p>
            </div>
            <div class="cardsSmall d-flex mt-3">
              <div class="d-flex">
                <input type="text" class="formInputsCustom" placeholder="Number of Employees">

                <input type="text" class="formInputsCustom" placeholder="Designation">
              </div>
            </div>
            <div class="">
              <input class="selectEmpBtn" type="number">
            </div>
            <div class="cardsSmall d-flex mt-3">
              <div class="d-flex">
                <input type="text" class="formInputsCustom" placeholder="Monthly Salary">
              </div>
            </div>
            
            <br><br><br>
            
            <div class="d-flex col-md-7 buttonNext justify-content-between">
              <button class="backBtn btn btn-md" routerLink='/fifth-page'>Back</button>              
              <button class="btn btn-md nextBtn">Next</button>              
              <p class="mb-0 align-self-center mr-1">save and continue later</p>
            </div>

          </div>
        </mat-tab>
        <mat-tab label="Regular Covers​"> </mat-tab>
        <mat-tab label="Additional Covers​​"> </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
