<div class="topGap"></div>
<div class="" fxLayout="row" fxLayout.xs="column" fxLayoutwrap>
  <div fxFlex="20">
    <!-- for stepper -->
  </div>
  <div fxFlex="80" class="contentMain">
    <h4 class="head1">Covers ​</h4>
    <h3 class="head2 mt-4">Essential ​</h3>

    <div class="mt-4 CoversCards">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column" fxlayoutwrap fxLayoutGap="10px">
        <div fxFlex="25%">
          <mat-card class="card">
            <p>Structure Insurance</p>
            <div class="text-center">
              <img src="assets/Group11878.svg" class="imgCover" alt="">
            </div>
          </mat-card>
        </div>
        <div fxFlex="25%">
          <mat-card class="card">
            <p>Content Insurance</p>
            <div class="text-center">
              <img src="../../assets/Group11884.svg" class="imgCover" alt="">
            </div>
          </mat-card>
        </div>
        <div fxFlex="25%">
          <mat-card class="card">
            <p>Workmen Compensation</p>
            <div class="text-center">
              <img src="../../assets/Group13113.svg" class="imgCover" alt="">
            </div>
          </mat-card>
        </div>
        <div fxFlex="25%">
          <mat-card class="card">
            <p>Fidelity Insurance</p>
            <div class="text-center">
              <img src="../../assets/Group13115.svg" class="imgCover" alt="">
            </div>
          </mat-card>
        </div>
      </div>
      <div class="head2 mt-5">
        <h4>Covers regularly selected by others in your industry​</h4>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayout.xs="column" fxlayoutwrap fxLayoutGap="10px">
        <div fxFlex="25%">
          <mat-card class="card">
            <p>Money Insurance</p>
            <div class="text-center">
              <img src="assets/Group13115.svg" class="imgCover" alt="">
            </div>
            <div class="text-right">
              <img src="../../assets/plusIconBlack.svg" alt="">
              <img src="../../assets/closeIcon.svg" alt="">
            </div>
          </mat-card>
        </div>
        <div fxFlex="25%">
          <mat-card class="card">
            <p>Business Interruption</p>
            <div class="text-center">
              <img src="../../assets/Group13116.svg" class="imgCover" alt="">
            </div>
            <div class="text-right">
              <img src="../../assets/plusIconBlack.svg" alt="">
              <img src="../../assets/closeIcon.svg" alt="">
            </div>
          </mat-card>
        </div>
        <div fxFlex="25%">
          <mat-card class="card">
            <p>Business Interruption</p>
            <div class="text-center">
              <img src="../../assets/Group13117.svg" class="imgCover" alt="">
            </div>
            <div class="text-right">
              <img src="../../assets/plusIconBlack.svg" alt="" aria-placeholder="+">
              <img src="../../assets/closeIcon.svg" alt="" aria-placeholder="-">
            </div>
          </mat-card>
        </div>
        <div fxFlex="25%">
          <!-- <mat-card class="card">
          <p>Fidelity Insurance</p>
          <div class="text-center">
            <img src="../../assets/Group13115.svg" class="imgCover" alt="">
          </div>
        </mat-card> -->
        </div>
      </div>
    </div>
    <div class="col-md-7 top-50 text-center buttonNext">
      <button class=" btn btn-md nextBtn" routerLink='/seventh-page'>Next</button>
    </div>
  </div>

</div>
