
@import "~bootstrap/dist/css/bootstrap.css";


.head1 {
  font: normal normal 300 28px/34px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 28px;
}

.head2 {
  font: normal normal bold 16px/19px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 16px;
}

.topGap {
  top: 174px;
  left: 462px;
  width: 100px;
  height: 34px;
}


.buttonNext {
  bottom: 0px;
  position: fixed;
  background: #fff;

  .nextBtn {
    width: 165px;
    height: 54px;
    background: #03A9B8 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #fff;
  } 

}

.contentMain {
  background: #F2F2F2 0% 0% no-repeat padding-box;
  padding: 10px 20px;
}

@media (min-width:720px) {
  .row {
      width:100%;
      left:0;
  }
}